body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: black;
}
header 
{
    background-color: #00883E;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0%;
}

.logoEmpresa
{
    width: 120px;
    height: 90px;
}
.logoUthh
{
    width: 80px;
    height: 80px;
}
main
{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
   
}
.titulo-mapa-sitio 
{
    text-align: center;
    margin-bottom: 40px;
}
.contenedor-mapa-sitio 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 50px;
}
.mapa-sitio 
{
    flex:1;
    margin-left: 20px;
}
.mapa-sitio table 
{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid black;
}
th
{
    background-color: #333;
    text-align: left;
    border: 1px solid black;
    color: white;
    text-align: center;
}
li 
{
    list-style: none; /* Elimina la viñeta de la lista */
    margin: 0; /* Elimina el margen por defecto que podría estorbar */
    padding: 0; /* Elimina el relleno por defecto */
}
li a
{
  text-align: center;
   text-decoration: none ;
   color: black;
   display: block;
   padding: 8px;
}
td
{

    border: 1px solid black;
    padding: 0;
}
footer 
{
    text-align: center;
    padding: 8px;
    background-color: #333;
    color: white;
    position: fixed; /* Fija el footer a la ventana */
    bottom: 0; /* Lo coloca en la parte inferior */
    left: 0; /* Asegura que comience desde la izquierda */
    width: 100%; /* Ocupa el 100% del ancho de la ventana */
    /* --- FIN DE CAMBIOS --- */
}