html, body {
    height: 100%;
    margin: 0;
}

/* Para que el contenido empuje hacia abajo el footer */
body {
    display: flex;
    flex-direction: column;
}

/* El main crece y empuja el footer */
main {
    flex: 1;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    color: #333;
}

/* ------------------------ HEADER ------------------------ */

.header {
    background-color: #00883E;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo {
    width: 80px;
}

.logo-utit {
    width: 70px;
    border-radius: 50%;
}

/* MENU */
.nav a {
    margin: 0 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
}

.nav a:hover {
     background-color: #005f27;
}

/* ------------------------ TABLA ------------------------ */

.contenido {
    max-width: 1600px;
    margin: 20px auto;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #1e1e1e;
    color: white;
    padding: 12px;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background: #f3f3f3;
}

/* ACCIONES */
.btn {
    padding: 6px 12px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: 2px;
    display: inline-block;
}

.accion {
    background-color: #333;
}

.eliminar {
    background-color: #333;
}

/* ------------------------ FOOTER ------------------------ */

.footer {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}

/* ------------------------ RESPONSIVE ------------------------ */

@media (max-width: 900px) {

    .header {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .header-left {
        flex-direction: column;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
