body
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #00883E;
    padding: 15px 25px;
    width: 100%;
    box-sizing: border-box;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;  /* LOGO/TÍTULO a la izquierda | NAV a la derecha */
    align-items: center;              /* Centra todo verticalmente */
}

.logo-titulo {
    display: flex;
    align-items: center;
    gap: 20px;
}

header img {
    width: 110px;
    height: 100px;
    object-fit: cover;
}

header h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;  /* ESTE ES EL IMPORTANTE */
    transition: background-color 0.3s; /* suave */
}

nav a:hover {
    background-color: #005f27;
    border-radius: 5px;
}


main {
    flex: 1;
    padding: 20px;
}
section 
{  
    margin-top: 10px;
    padding: 10px;
    color: black;
    background-color: #eaeaea;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

aside {
    width: 28%;
    margin-top: 20px;
    color: black;
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 10px;
    height: 500px;
}
.imagenInstitucion {
    width: 100%;
    max-width: 700px;      /* límite para que no se haga enorme */
    display: block;
    margin: 20px auto;     /* centrada */
    border-radius: 10px;
}

.container-body {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;    /* <-- centra el contenido */
    flex: 1;
}

.ulValores
{
    margin-left: 10px;
    padding: 0;
    list-style-type: disc;
}

footer 
{
    text-align: center;
    padding: 8px;
    background-color: #333;
    color: white;
    bottom: 0;
    width: 100%;
}