body
{
 background-color: White;
 color: black;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 18px;
 margin: 0;
 height: 100%;
 display: flex;
 flex-direction: column;
 overflow-x: hidden;

}

header
{
  display: flex;
  background-color: #00883E;
  width: 100%;
  color: White;
  margin: 0%;
  font-size: 14px;
}
header h1
{
    margin-left: 20px;
    padding: 5px;
}
main 
{
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 1800px;
    flex: 1;
}
section
{
   background-color: #f5f5f5;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.10);
    width: 60%;
    height: 500px;
    color: black;
}
section h2
{
    text-align: center;
    margin-bottom: 20px;
}
section label
{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

section input
{
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 18px;
   
} 
select
{
    color: black;
    background-color: White;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 5px;
    font-size: 18px;
    width: 100%;

}
section button
{
    background-color: #00883E;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
footer 
{
    text-align: center;
    padding: 8px;
   background-color: #00883E;
    color: white;
    bottom: 0;
    width: 100%;
}
aside 
{
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
}
aside img 
{
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 500PX;
}
.seOlvidoContrasenia
{
    margin-top: 25px;

}   