body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 100vh;  /* Cambiado de height a min-height */
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #00883E;
    padding: 8px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    height: 110px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: background-color 3s;
}

nav a {
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

nav a:hover { 
    background-color: #005f27;
    border-radius: 5px;
}

header img {
    width: 120px;
    height: 100px;
}

header h1 {
    font-size: 40px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 130px;
    padding-bottom: 20px;
    width: 100%;
}
.container-imgen {
    display: block;
    margin: 0 auto;     /* Centra la imagen */
    max-width: 350px;   /* Ajusta el tama침o m치ximo que tendr치 */
    width: 100%;        /* Para que sea responsiva */
    height: auto;       /* Mantiene proporciones */
    border-radius: 10px; /* Opcional, se ve m치s elegante */
}

section {
    margin: 20px;
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

aside 
{
    flex: 1;
    padding: 20px;
    border-radius: 10px;
}
aside a
{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: #00883E;
    border-radius: 5px;
    float: right;
       padding: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;

}

footer p 
{
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
}