body
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
     height: 100%;            /* Hace que el body ocupe toda la pantalla */
     margin: 0;               /* Elimina márgenes por defecto */
  display: flex;           /* Activa flexbox */
  flex-direction: column;  /* Ordena header, main y footer en columna */
}
header
{ 
  background-color: #00883E;/* color de fondo */           
  padding: 8px 25px;         /* espacio interno: arriba/abajo 10px, izquierda/derecha 40px */
  display: flex;              /* activa Flexbox para alinear elementos en fila */
  justify-content: space-between; /* separa los dos grupos: logo+titulo (izq) y menú (der) */
  align-items: center;        /* centra verticalmente ambos grupos */
  position: fixed;            /* mantiene la barra fija arriba */
  top: 0;                     /* posición desde arriba */
  left: 0;                    /* posición desde la izquierda */
  width: 100%;                /* ocupa todo el ancho de la página */
  box-sizing: border-box;     /* evita que el padding altere el ancho total */
  z-index: 1000;
}

nav ul 
{
  
    list-style: none; /*Quita los estilos de lista */
   padding: 0;   /*Elimina el Padding*/
   display: flex; /*activa Flexbox para alinear elementos en fila*/
   justify-content: center; /*Centra el contenido */
   gap: 20px; /*Genera un espacio uniforme entre los elementos*/
   transition: background-color 3s; /*Generamos una pequeña transición para que se vea un poco mejor */
}
nav a 
{
   font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}
nav a:hover 
{ 
  background-color: #005f27;
  border-radius: 5px;
}
header img
{
    width: 120px;
    height: 100px;
}
header h1
{
     font-size: 40px;
}